:root {
    --img-width: 1200px;
    --img-height: 536px;
    --button-width: 30px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#content {
    /* width: 80%; */
    height: var(--img-height);
    overflow: hidden;
}

#img-container {
    /* width: 80%; */
    width: var(--img-width);
}

#img-container > * {
    opacity: 0;
    transition: all .5s ease-in-out;
    width: 100%;
    height: 100%;
}

#array-container {
    width: calc(var(--img-width) / 5);
    position: relative;
    z-index: 0;
    transition: all .5s ease-in-out;

}

#array-container .preview {
    background-color: rgba(255, 255, 255, 0.3)!important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    bottom: calc(var(--img-height) / 5);
    width: 100%;
    height: calc(var(--img-height) / 5);
    position: relative;
    transition: all .5s ease-in-out;
    overflow: hidden;
    border: 0px solid transparent;
}

#array-container .preview > .filter {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    opacity: .5;
    transition: all .5s ease-in-out;
}

#array-container .preview.no-filter {
    border: transparent 4px solid;
}

#array-container .preview.no-filter > .filter {
    opacity: 0!important;
}

#array-container .preview > * {
    width: 100%;
    height: calc(var(--img-height) / 5);

}

button {
    background-color: rgba(255, 255, 255, 0.3)!important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 0!important;
    width: var(--button-width);
    height: var(--button-width);
    border-radius: 50%!important;
    position: absolute;
    z-index: 2;
    left: calc(((var(--img-width) / 5) / 2) - (var(--button-width) / 2));
}

button#up {
    top: calc((var(--img-height) / 5) + 10px);
}

button#down {
    top: calc(((var(--img-height) + var(--img-height) / 5) - 10px) - var(--button-width));
}

#button-container {
    bottom: 105px;
}

i {
    font-size: 16px;
}
